@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&family=Poppins:wght@700&display=swap');

:root {
    --blue: #3bbcfe;

    /* primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text*/
    --dark-blue: hsl(198, 62%, 26%);

    /* Neutral */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}

body, html {
    height: 100%;
}

ul {
    list-style-type: none;
}

nav {
    padding: 15px auto;
}

nav ul {
    display: flex;
}

nav ul li {
    padding-right: 40px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.container .right-side {
    display: flex;
    justify-content: right;
    align-items: center;
}

header .hero-section {
    height: 90vh;
    background-image: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: bottom;
    color: #fff;
}

.contact {
    background: #6fcffff3;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
}

.hero-text {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 2.2em;
    letter-spacing: .4rem;
    text-transform: uppercase;
    position: relative;
    top: 40px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    text-transform: lowercase;
}

.arrow {
    text-align: center;
    position: relative;
    top: 80px;
}